body {background: #ffffff; margin: 0; padding: 0;} 
a {color: #2b2bf6;}           
#container 	{width: 900px; margin: 0; padding: 0; background: #baedff;}           
#header 	{width: 900px; 	height: 150px; 	margin: 0; padding: 0; border: 0; background: #88d1ea;}           
#sidebar 	{width: 200px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: #93e4ff;}           
#content 	{width: 700px; height: 400px; 	margin: 0; padding: 0; border: 0; float: left; background: #92bdcc;}    
#content p 	{font-family: Arial;font-size: 14px}       
#content a 	{color:blue;}
#footer 	{width: 900px; 	height: 70px; 	margin: 0; padding: 0; border: 0; float: left; background: #508ca0; clear:both;}                            
<style>
img {
	max-width: 20%;
	height: 20%;
}
</style>
