body {background: #ffffff; margin: 0; padding: 0;} 
a {color: #2b2bf6;}           
#container 	{width: auto; margin: 0; padding: 0; background: #baedff;}           
#header 	{width: auto; 	height: auto; 	margin: 0; padding: 5px; border: 0; background: #88d1ea;}           
#content 	{width: auto; height: auto; 	margin: 0; padding: 5px; border: 0; float: left; background: #92bdcc;}    
#content p 	{font-family: Arial;font-size: 14px}       
#content a 	{color:blue;}
#footer 	{min-height: 10px:  width: auto; height: auto; margin: 5px; padding: 0; border: 0; float: left; background: #508ca0; clear:both;}                            

html, body {
	height:100%
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

div {
	height:auto;
	width:1000px;
	margin: 0 auto;
}

.footer {
	flex-shrink: 0;
}

